---
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  githubUrl?: string;
  liveUrl?: string;
  tags: string[];
};

const { title, description, url, githubUrl, liveUrl, tags } = Astro.props;
---

<div
  class="group zag-transition relative flex gap-x-5 rounded-lg p-4 transition-colors hover:bg-[var(--theme-code-bg)] sm:gap-x-8"
>
  <div class="flex flex-col items-center">
    <div
      class="flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full border-2 border-[var(--theme-border)] bg-[var(--theme-bg)] transition-colors group-hover:border-[var(--theme-accent)]"
    >
      <div
        class="h-2 w-2 rounded-full bg-[var(--theme-border)] transition-colors group-hover:bg-[var(--theme-accent)]"
      >
      </div>
    </div>
    <div
      class="mt-2 w-px flex-1 bg-[var(--theme-border)] group-last:bg-transparent"
    >
    </div>
  </div>

  <div class="flex-1">
    <div class="flex flex-wrap items-center justify-between gap-2">
      <Anchor url={url}>
        <h3
          class="has-text-scramble text-xl font-bold text-[var(--theme-heading)] transition-colors group-hover:text-[var(--theme-accent)]"
        >
          {title}
        </h3>
      </Anchor>
      <div class="flex shrink-0 gap-4">
        {
          githubUrl && (
            <Anchor
              url={githubUrl}
              class="has-text-scramble zag-responsive-text text-sm"
              external
            >
              GitHub
            </Anchor>
          )
        }
        {
          // UPDATED: Conditional check for `liveDemoUrl`
          liveUrl && (
            <Anchor
              url={liveUrl}
              class="has-text-scramble zag-responsive-text text-sm"
              external
            >
              Demo
            </Anchor>
          )
        }
      </div>
    </div>
    <p class="zag-text mt-2 text-base">{description}</p>
    <div class="mt-3 flex flex-wrap gap-2">
      {
        tags.map((tag) => (
          <span class="-zag-text zag-transition -zag-bg flex-shrink-0 px-2 py-1 text-sm font-semibold">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</div>
