---
import { getConfigurationCollection, processArticleDate } from "../lib/utils";
import type { ProjectFrontmatter } from "../lib/types";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";
import Section from "../components/common/Section.astro";
import Anchor from "../components/common/Anchor.astro";
type Props = { frontmatter: ProjectFrontmatter };

const { frontmatter } = Astro.props;
const { data: config } = await getConfigurationCollection();
---

<Layout>
  <Fragment slot="head">
    <title>{`${frontmatter.title} • ${config.personal.name}`}</title>
    <meta
      name="description"
      content={frontmatter.longDescription ?? frontmatter.description}
    />
    <meta
      property="og:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta property="og:description" content={frontmatter.description} />
    {
      frontmatter.tags && (
        <meta name="keywords" content={frontmatter.tags.join(", ")} />
      )
    }
    {
      frontmatter.cardImage && (
        <meta property="og:image" content={frontmatter.cardImage} />
      )
    }
    <meta
      property="og:url"
      content={`${config.site.baseUrl}/projects/${frontmatter.slug}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta name="twitter:description" content={frontmatter.description} />
    {
      frontmatter.cardImage && (
        <meta name="twitter:image" content={frontmatter.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="en" />

    <meta name="language" content="English" />
    <link
      rel="canonical"
      href={`${config.site.baseUrl}/projects/${frontmatter.slug}`}
    />
  </Fragment>
  <Section class="zag-responsive-text max-w-prose pt-8 font-serif">
    <div class="project-content">
      <div class="mt-8 mb-16 flex flex-col gap-4">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h1 class="font-display text-3xl leading-tight sm:text-4xl">
            {frontmatter.title}
          </h1>
          <div class="flex shrink-0 gap-4">
            {
              frontmatter.githubUrl ? (
                <Anchor url={frontmatter.githubUrl} class="text-base" external>
                  GitHub
                </Anchor>
              ) : null
            }
            {
              frontmatter.liveDemoUrl ? (
                <Anchor
                  url={frontmatter.liveDemoUrl}
                  class="text-base"
                  external
                >
                  Demo
                </Anchor>
              ) : null
            }
          </div>
        </div>
        <div class="flex flex-wrap gap-2 text-sm">
          {
            frontmatter.tags
              ? frontmatter.tags.map((tag) => (
                  <span class="-zag-text -zag-bg zag-transition px-2 py-1 font-semibold">
                    {tag}
                  </span>
                ))
              : null
          }
        </div>
      </div>
      <Prose class="font-serif">
        <slot />
      </Prose>
    </div>
  </Section>
</Layout>
